@charset "utf-8";
#CUERPO {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#CUERPO #CONTENIDO #precio {
}
#inicio {
	width: 600px;
	float: left;
}
#cuerpo2 {
	width: 1000px;
	margin-left: 0px;
	margin-right: auto;
}
#precio {
	width: 600px;
	float: left;
}
#foto {
	width: 397px;
	float: right;
}
